@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #281030;

}
body{
  font-family: 'Roboto', sans-serif !important;
  height: auto;
}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}


[class*="col-"]{
  float: left;
  padding: 15px;
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 85%;
}

.row::after{
  content: "";
  clear: both;
  display: table;
}

.roboto{
  font-family: 'Roboto', sans-serif !important;
}
nav{
  background-color: #ffffff;
  height: 80px;
  width: 100%;
}
label.logo{
  color: #281030;
  font-size: 35px;
  line-height: 80px;
  padding: auto;
  font-weight: auto;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #281030;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background-color: #e9283a;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

hr {
  border-top: 1px solid gray !important;
}

section{
  /* background: url(123.JPG) no-repeat; */
  background-size: cover;
  height: calc(100vh - 80px);
}

.mySlides {display:none;}

.img-logo{
  width: 12%;
}
.text-center{
  text-align: center;
}
.img-iphone{
  width: 70%;
  display: block;
  margin: 0 auto;
}
.img-redmi{
  width: 70%;
  display: block;
  margin: 0 auto;
}
.img-samsung{
  width: 70%;
  display: block;
  margin: 0 auto;
}
.hover-img:hover{
  filter: opacity(.5);
  -webkit-transform:scale(.9);
  transform:scale(.9);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
footer{
  background-color: #281030;
}
.text-hueso{
  color: #f2f3eb !important;
}

.fs-15{
  font-size: 15px;
}
.fs-20{
  font-size: 20px;
}
.fs-25{
  font-size: 25px;
}
.fs-30{
  font-size: 30px;
}
.fs-35{
  font-size: 35px;
}
.fs-1em{
  font-size: 1em;
}
.fs-2em{
  font-size: 2em;
}
.fs-3em{
  font-size: 3em;
}
.w3-container, .w3-panel {
  padding: 1em 16px !important;
}

/* Para tablet */
@media only screen and (max-width: 900px) and (min-width: 600px){
  .col-t-1{width: 8.33%;}
  .col-t-2{width: 16.66%;}
  .col-t-3{width: 25%;}
  .col-t-4{width: 33.33%;}
  .col-t-5{width: 41.66%;}
  .col-t-6{width: 50%;}
  .col-t-7{width: 58.33%;}
  .col-t-8{width: 66.66%;}
  .col-t-9{width: 75%;}
  .col-t-10{width: 83.33%;}
  .col-t-11{width: 91.66%;}
  .col-t-12{width: 100%;}
  .vh-100{
    height: auto;
  }
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}

/* Para telefonos */
@media only screen and (max-width: 768px){
  [class*="col-"]{
    width: 100%;
  }
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background-color: transparent;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .img-logo{
    width: 32%;
    display: block;
    margin: 0 auto;
    /* background-image: url(); */
  }
}


